@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Inter:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: theme('fontFamily.body');
  background-color: theme('colors.primary');
  color: theme('colors.text');
  cursor: none; /* Hide default cursor to replace with custom one */
}

/* Custom scroll bar colors */
::-webkit-scrollbar {
  width: 8px;
  background-color: theme('colors.primary');
}
::-webkit-scrollbar-thumb {
  background-color: theme('colors.secondary');
  border-radius: 4px;
}
